[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "==5.2.0"
pytest-flask = "*"
tox = "*"
coverage = "*"
sphinx = "*"
watchdog = "*"
bumpversion = "*"
pyyaml = "*"
yml = "*"
argh = "*"
autopep8 = "*"
pylint = "*"

[packages]
flask = "*"
attrs = "==19.1.0"
connexion = "*"
car-api = {editable = true,path = "."}
pyobjc = "*"

[requires]
python_version = "3.7.3"
